<div class="container">availableItems
  <form [formGroup]="editForm" (ngSubmit)="editItem()">
    <h2 class="text-center text-primary">Edit Item</h2>
    <hr />
    
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="name" formControlName="name" placeholder="Name">
      <div *ngIf="editForm.get('name').touched && editForm.get('name').invalid" class="validation">
        <small class="error" *ngIf="editForm.get('name').errors.required">Enter Price</small>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input id="price" type="price" formControlName="price" placeholder="Price">
      <div *ngIf="editForm.get('price').touched && editForm.get('price').invalid" class="validation">
        <small class="error" *ngIf="editForm.get('email').errors.required">Enter Price</small>
      </div>
    </div>
    <div class="form-group">
      <label for="imageurl">Image</label>
      <quill-editor formControlName="imageurl"></quill-editor>
      <div *ngIf="editForm.get('imageurl').touched && editForm.get('imageurl').invalid" class="validation">
        <small class="error" *ngIf="editForm.get('imageurl').errors.required">Load Image</small>
      </div>
    </div>
    <div class="form-group">
      <label for="sales">Sales</label>
      <input id="sales" type="sales" formControlName="sales" placeholder="Sales">
      <div *ngIf="editForm.get('sales').touched && editForm.get('sales').invalid" class="validation">
        <small class="error" *ngIf="editForm.get('sales').errors.required">Enter Sales</small>
      </div>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select formControlName="category">
        <option value="1">Kitten</option>
        <option value="2">Puppy</option>
        <option value="3">Cartoon</option>
        <option value="4">Name</option>
        <option value="5">Holiday</option>
        <option value="6">Others</option>
      </select>
      <div *ngIf="editForm.get('sales').touched && editForm.get('sales').invalid" class="validation">
        <small class="error" *ngIf="editForm.get('sales').errors.required">Enter Sales</small>
      </div>
    </div>
    <div class="form-group">
      <label for="availableitems">Available Items</label>
      <input id="availableitems" type="availableitems" formControlName="availableitems" placeholder="Available items">
      <div *ngIf="editForm.get('availableitems').touched && editForm.get('availableitems').invalid" class="validation">
        <small class="error" *ngIf="editForm.get('availableitems').errors.required">Enter Available Items</small>
      </div>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success" type="button"
      (click)="editItem()"
      [disabled]="editForm.invalid"
      >
        Edit item
      </button>
      <button class="btn btn-danger" type="button" 
        (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>

