<nav class="navbar bg-dark">
  <div class="container">
    <a [routerLink]="['']">Online Shop</a>
    
    <ul *ngIf="loggedIn()">
      <li routerLinkActive="active">
        <a [routerLink]="['order']">Basket</a>
      </li>
      <li *ngIf="authService.isAdmin()" routerLinkActive="active">
        <a [routerLink]="['admin']">Admin functionality</a>
      </li>
      <li>
        <a (click)="logout()">
          Logout</a>
      </li>
    </ul>

    <ul *ngIf="!loggedIn()">
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/registration']">Registration</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/login'] ">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

