<nav class="navbar bg-dark">
  <div class="container">
    <a [routerLink]="['']">Online Shop</a>
    
    <ul *ngIf="loggedIn()">
      <li routerLinkActive="active">
        <a [routerLink]="['order']">Корзина</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['']">Якась інфа</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['']">Якасть інфа</a>
      </li>
      <li>
        <a (click)="logout()">
          Logout</a>
      </li>
    </ul>
    
    <ul *ngIf="!loggedIn()">
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/registration']">Registration</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/login'] ">Login</a>
      </li>
    </ul>
 


    <!--
      Влад,не забудь добавить сюди функціонал для адміна. Обговоріть,яким чином будете вказувать ролі.Потом просто через *ngIf добав функц
    -->

  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

