<button type="button" (click)="getCups(1)">Kitten</button>
  <button type="button" (click)="getCups(2)">Puppy</button>
  <button type="button" (click)="getCups(3)">Cartoon</button>
  <button type="button" (click)="getCups(4)">Name</button>
  <button type="button" (click)="getCups(5)">Holiday</button>
  <button type="button" (click)="getCups(6)">Others</button>
  <button type="button" (click)="getAllCups()">All</button>


  <ul *ngFor="let item of itemList">
      <li>
        {{item.name}}
      </li>
      <li>
        {{item.price}}
    </li>
    <li>
        {{item.category}}
    </li>
  </ul>