
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cup Shop</title>

    <link rel="stylesheet" href="scss/bootstrap.min.component.scss">
    <link rel="stylesheet" href="scss/style.scss">



</head>
<body style="background:   radial-gradient(circle at 100%, #fff8fd, #fff8fd 50%, #deeaee 75%, #fff8fd 75%);">

<div class="header-middle">
    <div class="container header-middle-cont">
        <div class="toplogo">
            <a href="index.html">
                <img src="logo/icon2.png" alt="Cup Shop">
            </a>
        </div>


    </div>
</div>
</header>

<main>
    <section class="container">

        <h1 class="main-ttl"><span>Магазин кружек</span></h1>
        <div class="section-sb">
            <div class="section-sb-current">
                <h3><a href="catalog-list.html">Категории <span id="section-sb-toggle" class="section-sb-toggle"><span class="section-sb-ico"></span></span></a></h3>
                <ul class="section-sb-list" id="section-sb-list">
                    <li class="categ-1">
                        <a href="">
                            <span class="categ-1-label">С котиками</span>
                        </a>
                    </li>
                    <li class="categ-1">
                        <a href="">
                            <span class="categ-1-label">С собачками</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="catalog-list.html">
                            <span class="categ-1-label">С мультиками</span>

                        </a>
                    </li>
                    <li class="">
                        <a href="catalog-list.html">
                            <span class="categ-1-label">С именами</span>

                        </a>
                    </li>
                    <li class="categ-1">
                        <a href="">
                            <span class="categ-1-label">Другое</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="section-cont">

            <div class="section-top">

                <div class="section-sortby">
                    <select>
                        <option selected="selected">По популярности</option>
                        <option>От дешевых к дорогим</option>
                        <option>От дорогих к дешевым</option>
                    </select>
                </div>

            </div>

            <div class="prod-items section-items">

                <div class="prod-i">
                    <div class="prod-i-top">
                        <a href="product.html" class="prod-i-img"> <img src="http://placehold.it/300x300" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>

                        <a href="#" class="prod-i-buy">Add to cart</a>

                    </div>
                    <h3>
                        <p>Кружка</p>
                    </h3>
                    <p class="prod-i-price">
                        <b>$0</b>
                    </p>

                </div>
                <div class="prod-i">
                    <div class="prod-i-top">
                        <a href="product.html" class="prod-i-img"> <img src="http://placehold.it/300x300" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>

                        <a href="#" class="prod-i-buy">Add to cart</a>

                    </div>
                    <h3>
                        <p>Кружка</p>
                    </h3>
                    <p class="prod-i-price">
                        <b>$0</b>
                    </p>

                </div>
                <div class="prod-i">
                    <div class="prod-i-top">
                        <a href="product.html" class="prod-i-img"> <img src="http://placehold.it/300x300" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>

                        <a href="#" class="prod-i-buy">Add to cart</a>

                    </div>
                    <h3>
                        <p>Кружка</p>
                    </h3>
                    <p class="prod-i-price">
                        <b>$0</b>
                    </p>

                </div>
                <div class="prod-i">
                    <div class="prod-i-top">
                        <a href="product.html" class="prod-i-img"> <img src="http://placehold.it/300x300" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>

                        <a href="#" class="prod-i-buy">Add to cart</a>

                    </div>
                    <h3>
                        <p>Кружка</p>
                    </h3>
                    <p class="prod-i-price">
                        <b>$0</b>
                    </p>

                </div>
                <div class="prod-i">
                    <div class="prod-i-top">
                        <a href="product.html" class="prod-i-img"> <img src="http://placehold.it/300x300" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>

                        <a href="#" class="prod-i-buy">Add to cart</a>

                    </div>
                    <h3>
                        <p>Кружка</p>
                    </h3>
                    <p class="prod-i-price">
                        <b>$0</b>
                    </p>

                </div>
                <div class="prod-i">
                    <div class="prod-i-top">
                        <a href="product.html" class="prod-i-img"> <img src="http://placehold.it/300x300" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>

                        <a href="#" class="prod-i-buy">Add to cart</a>

                    </div>
                    <h3>
                        <p>Кружка</p>
                    </h3>
                    <p class="prod-i-price">
                        <b>$0</b>
                    </p>

                </div>

            </div>

        </div>

    </section>
</main>
</body>
</html>