<div class="container">
  <form [formGroup]="addForm" (ngSubmit)="addItem()">
    <h2 class="text-center text-primary">Add Item</h2>
    <hr />
    
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="name" formControlName="name" placeholder="Name">
      <div *ngIf="addForm.get('name').touched && addForm.get('name').invalid" class="validation">
        <small class="error" *ngIf="addForm.get('name').errors.required">Enter Price</small>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input id="price" type="price" formControlName="price" placeholder="Price">
      <div *ngIf="addForm.get('price').touched && addForm.get('price').invalid" class="validation">
        <small class="error" *ngIf="addForm.get('email').errors.required">Enter Price</small>
      </div>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image</label>
      <quill-editor id ="imageUrl" formControlName="imageUrl"></quill-editor>
      <div *ngIf="addForm.get('imageUrl').touched && addForm.get('imageUrl').invalid" class="validation">
        <small class="error" *ngIf="addForm.get('imageurl').errors.required">Load Image</small>
      </div>
    </div>
    <div class="form-group">
      <label for="sales">Sales</label>
      <input id="sales" type="sales" formControlName="sales" placeholder="Sales">
      <div *ngIf="addForm.get('sales').touched && addForm.get('sales').invalid" class="validation">
        <small class="error" *ngIf="addForm.get('sales').errors.required">Enter Sales</small>
      </div>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select formControlName="category">
        <option value="1">Kitten</option>
        <option value="2">Puppy</option>
        <option value="3">Cartoon</option>
        <option value="4">Name</option>
        <option value="5">Holiday</option>
        <option value="6">Others</option>
      </select>
      <div *ngIf="addForm.get('sales').touched && addForm.get('sales').invalid" class="validation">
        <small class="error" *ngIf="addForm.get('sales').errors.required">Enter Sales</small>
      </div>
    </div>
    <div class="form-group">
      <label for="availableitems">Available Items</label>
      <input id="availableitems" type="availableitems" formControlName="availableitems" placeholder="Available items">
      <div *ngIf="addForm.get('availableitems').touched && addForm.get('availableitems').invalid" class="validation">
        <small class="error" *ngIf="addForm.get('availableitems').errors.required">Enter Available Items</small>
      </div>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success" type="submit"
      (click)="addItem()"
      [disabled]="addForm.invalid"
      >
        Add item
      </button>
      <button class="btn btn-danger" type="button" 
        (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>

